//Base color value
$primary: #2366cc;
$secondary: #141736;
$accent: #a5b3cd;
$text: #090d1f;
$background: #f5f6fa;
$error: #f04141;
$warning: #dba824;
$success: #50cc89;

//Bank Colors
$con-inv: #2366CC;
$con-sme: #23C2CC;
$con-cop: #272F82;
$city-first: #5C7095;
$con-retailer: #7B43C1;
$golden-crop: #438CC1;