@use "color";

//Common
.content-card {
  box-shadow: 0 1px 10px -1px rgba(76, 77, 82, 0.25);

  .empty {
    flex: 1 1 0%;
  }
}

//Profile Section
.profile-card {
  .profile-details {
    .profile-image-section {
      img {
        border: 2px solid white;
        box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.2);
      }
    }

    .profile-info-section {
      .text-muted {
        i {
          margin-right: 4px;
          vertical-align: middle;
        }
      }
    }
  }

  .wealth-details {
    gap: 4.5em;
    padding-right: 1.5em;

    .wealth-card {
      &.wealth-plus {
        i {
          background: lighten(color.$primary, 40%);
          color: color.$primary;
        }
      }

      &.wealth-minus {
        i {
          background: lighten(color.$secondary, 70%);
          color: color.$secondary;
        }
      }
    }

    .wealth-icon-container {
      i {
        border-radius: 50%;
        font-size: 1.5em;
        height: 2em;
        margin-bottom: 0.75em;
        padding: 0.75em;
        width: 2em;
      }
      .wealth-value {
        color: lighten(black, 30%);
        font-weight: 900;
      }
      .wealth-label {
        font-weight: 300;
      }
    }
  }
}

// Account Section
.account-details-container {
  .account-card-wrapper {
    background: linear-gradient(107.44deg, #92A3C4 13.54%, rgba(191, 202, 222, 0.7) 99.16%);
    border-radius: 12px;
    box-shadow: 0 0 17px 0 rgba(0,0,0,0.05);
    color: white;

    &.personal {
      background: linear-gradient(111.95deg, #2366CC 13.26%, rgba(35, 102, 204, 0.6) 77.61%);
    }

    &.joint {
      background: linear-gradient(111.95deg, #23C2CC 13.26%, rgba(35, 194, 204, 0.6) 77.61%);;
    }

    .account-balance {
      font-weight: 900;
      margin: 0 0.25em;
    }
    .account-number {
      font-weight: 700;
      opacity: .85;
    }
    .account-name {
      font-weight: 500;
      opacity: .75;
    }
  }

  .add-account-button-wrapper {
    max-width: 200px;
    padding-left: 1em;
    width: 200px;

    .add-account-button {
      background-color: transparent;
      border: 2px dashed color.$primary;
      color: color.$primary;
      font-size: 1.2em;
      height: 100%;
      width: 100%;
    }
  }
}
